body{
	font-family:arial, sans-serif;
}

.myheader{
	background-image:url('img/1.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	padding-bottom: 1rem;
}

#titre{
	text-align:center;
	font-size:30px;
}

.photo, img{
	width:70%;
	height:30%;
	/* border-radius:200px; */
	text-align:center;
	margin-top:10%;
}

.myheader .container .row .col-sm-3{
	margin-top:20%;
}

.myheader .container .row .col-sm-6 div.photo{
	padding-left:100px;
}

.myheader .container .row .col-sm-6 .img-circle{
	width:350px; 
	height:350px;
}

.myheader .container .row .col-sm-3.jumbotron {
	margin-top:15%;
}

#salut{
	font-size:25px;
	font-family:arial;
	text-align: center;
	color: #ffffff;
}

.post {
	margin-top: 1.5rem;
	text-align: center;
	color: #ffffff;
	font-family: arial, sans-serif;
}

/*section de mes compétences*/
.gris{
	border:10px solid slategray;
	width:70%;
	display:inline-block;
}
.blanc{
	border:10px solid white;
	width:30%;
	display:inline-block;
}
.gris1{
	border:10px solid slategray;
	width:70%;
	display:inline-block;
}
.blanc1{
	border:10px solid white;
	width:30%;
	display:inline-block;
}
.tr1{
	text-align:center;
	padding-left:20px;
}
.gris2{
	border:10px solid slategray;
	width:50%;
	display:inline-block;
}
.blanc2{
	border:10px solid white;
	width:50%;
	display:inline-block;
}
.gris3{
	border:10px solid slategray;
	width:40%;
	display:inline-block;
}
.blanc3{
	border:10px solid white;
	width:60%;
	display:inline-block;
}
.gris4{
	width:70%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc4{
	width:30%;
	border:10px solid white;
	display:inline-block;
}
.gris5{
	width:60%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc5{
	width:40%;
	border:10px solid white;
	display: inline-block;
}
.gris6{
	width:40%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc6{
	width:60%;
	border:10px solid white;
	display:inline-block;
}
.gris7{
	width:30%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc7{
	width:70%;
	border:10px solid white;
	display:inline-block;
}
.gris8{
	width:60%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc8{
	width:40%;
	border:10px solid white;
	display:inline-block;
}
.gris9{
	width:40%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc9{
	width:60%;
	border:10px solid white;
	display:inline-block;
}

.mesCompetences .container .row {
	margin-top:40px;
}

.mesCompetences .container .row .col-sm-12 h1 {
	text-align: center;
	margin-bottom: 4rem;
	color: #ffffff;
}

#ans{
	color: #ffffff;
	font-size: 20px;
	font-family: arial;
}

.mesFormations .container .row h1{
	color: #ffffff;
	text-align: center;
}

/*Mes contacts*/
.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

section#contact {
  background-color: #212529;
  background-image: url("../assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
section#contact .section-heading {
  color: #fff;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#contactForm p.help-block {
  margin: 0;
}
section#contact form#contactForm .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-ms-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

